.principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo{
    width: fit-content;
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
}

.title-history{
    size: 35;
    font-family:'Poppins';
    font-weight: bold;
    color: #016D38;
    padding: 0%;
    margin-top: 0;
}

.vista{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:white;
    min-height: 75vh;
    align-items: center;

    
}

.icono{
    padding: 0%;
    align-self: center;
}

.contenido{
    width: 25rem;
    height: 24rem;
    display: flex;
    /*To center vertical and horizontal*/
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    align-self: center;
}

.campos{
    display: flex;
    flex-direction: column;
}

.label{
    size: 20;
    font-family:'Poppins';
    font-weight: bold;
    color: #016D38;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
    width: 300px;
}

.password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4%;

}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.button-login{
    background-color:white;
}