.principal {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
}

.vista {
    width: 100%;
    background-color: beige;
    min-height: 84vh;
}

.contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.tabla{
    margin-top: 4rem;
    min-height: 50vh;
}

