.principal{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
}

.menu{
    width: 20%;
    background-color: beige;
    text-align: center;
}

.menu-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
}

.vista{
    width: 80%;
    height: 100%;
    background-color:beige;
    display: flex;
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
}

.contenido{
    width: 90%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.toolbarFile{
    gap:10px;
}



