.principal{
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
}

.menu-contenido{
    width: 100%;
    display: flex;
}

.menu{
    width: 20%;
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 8rem;
}

.boton-eliminar{
    margin-top: 35rem;
}

.titulo{
    width: fit-content;
    display: flex;

}

.title-home{
    size: 15;
    font-family:'Poppins';
    font-weight: bold;
    color: #016D38;
    padding: 0%;
    margin-top: 0;
    text-align: left;
}

.menu-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:start;
}

.vista{
    width: 80%;
    height: 100%;
    background-color:beige;
    display: flex;
    margin: 0 auto;
    align-items: start; 
    min-height: 84vh;
}

.contenido{
    width: 90%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.title-employees{
    size: 15;
    font-family:'Poppins';
    font-weight: bold;
    color: #016D38;
}

.toolbarFile{
    gap:10px;
}



