.principal{

    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;

}

.menu{
    width: 30%;
    height: 100vh;
    background-color: beige;
}

.vista{
    width: 70%;
    height: 100vh;
    background-color:red;
    display: flex;
    margin: 0 auto;
}

.contenido{

    width: 80%;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.card{

    margin-top: 10%;
}
