<header><app-header></app-header></header>
<div class="principal">
  <div class="menu">
    <div class="card flex justify-content-center menu-buttons">
      <p-button label="Asignar PLIR" (onClick)="getEmployeesSelected();assignConcepts()"></p-button>
      <p-button label="Reportar Nomina" (onClick)="reportPayments()" ></p-button>
    </div>
  </div>
  <div class="vista">
    <div class="contenido">
      <div class="card">
        <p-toolbar class="toolbar-home">
          <div class="p-toolbar-group-start">

          </div>
          <div class="p-toolbar-group-end toolbarFile">
            <p-toast></p-toast>
            <p-fileUpload name="archivo" [customUpload]="true" (uploadHandler)="subirArchivo($event)" accept=".csv"
              chooseLabel="Seleccionar archivo CSV" uploadLabel="Subir" cancelLabel="Cancelar"
              mode="basic"></p-fileUpload>
            <p-button icon="pi pi-plus" label="Ingresar Nuevo Empleado" class="mr-2" (click)="openNew()"></p-button>
          </div>
        </p-toolbar>
      </div>
      <div>
        <div class="card">
          <p-table [value]="employees" [(selection)]="selectedEmployees" dataKey="personalNumber"
            [tableStyle]="{ 'min-width': '50rem' , 'min-height':'30rem'}">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Numero Personal</th>
                <th>Empresa</th>
                <th>Cargo</th>
                <th>Salario</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
              <tr>
                <td>
                  <p-tableCheckbox [value]="employee"></p-tableCheckbox>
                </td>
                <td>{{ employee.namePerson }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.personalNumber }}</td>
                <td>{{ employee.nameCompany }}</td>
                <td>{{ employee.nameCharge }}</td>
                <td>{{ employee.salary}} {{employee.currency}}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.state == 1 ? 'Activo':'Retirado'}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" (click)="editEmployee(employee)"
                    class="p-button-rounded p-button-success mr-2"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteEmployee(employee)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="card flex justify-content-center">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="countEmployees"></p-paginator>
        </div>
      </div>
    </div>
  </div>

</div>
<footer><app-footer></app-footer></footer>



<p-dialog [(visible)]="employeeDialog" [style]="{ width: '450px', height: '900px'}" header="Editar Empleado"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Nombre</label>
      <input type="text" pInputText id="name" [(ngModel)]="employeeDto.namePerson" required autofocus />
      <small class="p-error" *ngIf="submitted && !employeeDto.namePerson">Nombre es requerido</small>
    </div>
    <div class="field">
      <label for="lastname">Apellido</label>
      <input type="text" pInputText id="lastname" [(ngModel)]="employeeDto.lastname" required autofocus />
      <small class="p-error" *ngIf="submitted && !employeeDto.lastname">Apellido es requerido</small>
    </div>
    <div class="field">
      <label for="personalNumber">NUIP</label>
      <input type="number" pInputText id="personalNumber" [disabled]="noInsert" [(ngModel)]="employeeDto.personalNumber"
        required autofocus />
      <small class="p-error" *ngIf="findByPersonalNumber(employeeDto.personalNumber) && noInsert===false">El numero ya
        existe</small>
    </div>
    <div class="field">
      <label for="company">Empresa</label>
      <p-dropdown [(ngModel)]="optionCompany" inputId="company" [options]="companiesOptions" optionLabel="label"
        placeholder="Seleccione una empresa" (ngModelChange)="selectOption($event)">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="charge">Cargo</label>
      <p-dropdown [(ngModel)]="optionCharge" inputId="charge" [options]="chargesOptions" optionLabel="label"
        placeholder="Selecciones un cargo">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="employeeDto.email" required autofocus />
      <small class="p-error" *ngIf="submitted && !employeeDto.email">Email es requerido</small>
    </div>
    <div class="field">
      <label for="salary">Salario</label>
      <p-inputNumber [(ngModel)]="employeeDto.salary" mode="currency" currency={{employeeDto.currency}}
        currencyDisplay="code"> </p-inputNumber>
      <small class="p-error" *ngIf="submitted && !employeeDto.salary">Salario es requerido</small>
    </div>
    <div class="field">
      <label for="estado">Estado del empleado</label>
      <p-dropdown [(ngModel)]="stateEmployee" inputId="estado" [options]="statuses" optionLabel="label"
        placeholder="Seleccione un estado">
      </p-dropdown>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      (click)="updateEmployee(employeeDto)"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>